git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never

gui:
  sidePanelWidth: 0.20
  theme:
    selectedLineBgColor:
      - underline

refresher:
  refreshInterval: 3

os:
  editPreset: "nvim-remote"
